<link rel="stylesheet" href="/css/signup.css">

    <form action="/user/create-session" method="POST">
        <h4>Welcome</h4>
        <div id="signup" class="card">
            <!-- <div>
                <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response" >  
            </div> -->
            <div>
               <input type="text" name="email" placeholder="name" required>
            </div>
            
            <div>
                <input type="password" name="password" placeholder="password" required>
            </div>
            <div>
                <button>signin</button>
            </div>
        </div>
        <a href="/user/forgot-password">Forgot password?</a>
    </form>

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJ7jNZMgnus3Yh_Klb1kvn3xKZ-lxslKkeB_fB3uOmpW_z2VMi&usqp=CAU"
alt="login image" style="margin-top:-2%">
