<link rel="stylesheet" href="/css/signup.css">

    <form action="/user/create-user" method="POST" id="signup-form">
        <h4>Welcome</h4>

        <div id="signup" class="card">
            <div>
                <input type="name" name="name" placeholder="user name" required>
            </div>
            
            <div>
                <input type="text" name="email" placeholder="email">
            </div>
            
            <div>
                <input type="password" name="password" placeholder="password" required >
            </div>
            
            <div>
                <button>signup</button>
            </div>
        </div>
        <a href="/user/signin">Already have an account</a>
    </form>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR7lTOcUvwxFo-Alifryjpzaxj9v2NX6pm0HCuzTwseSDkr6Ke0&usqp=CAU" alt="signup image">