#main {
  position: absolute;
  top: 20%;
  left: 48%;
  border: 2px solid orange;
  height: 500px;
  width: auto;
  padding: 20px;
  overflow: scroll;
}
body {
  margin-left: 2%;
}
table td {
  height: 4rem;
  width: 28%;
  margin: auto;
  overflow: hidden;
}

#schedules {
  width: 60%;
}
