<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="/css/navbar.css" />
  </head>
  <body>
    <div id="navbar">
      <h4>
        <a href="/">Placement Cell</a>
      </h4>
      <div id="nav">
        <ul>
          <li><a href="/employee/signup">Signup</a></li>
          <li><a href="/employee/login">Login</a></li>
          <li><a href="/employee/logout">Logout</a></li>
          <li><button><a href="/interviews/downloadCSV">Download CSV</a></button</li>

        </ul>
      </div>
    </div>
  </body>
</html>
