<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/auth.css" />
  </head>
  <body>
    <%- include('_navbar.ejs') %>
    <form action="/employee/createSession" method="POST">
      <div>
        <input type="text" name="email" placeholder="email" required />
      </div>
      <div>
        <input
          type="password"
          name="password"
          placeholder="password"
          required
        />
      </div>
      <div>
        <button>Login</button>
      </div>
    </form>
  </body>
</html>
